---
- name: have docker-py
  remote_user: root
  pip: name=docker-py

- name: have ~/{{ image_file_name }}_project directory
  remote_user: "{{ host_build_user }}"
  file: dest="/home/{{ host_build_user }}/{{ image_file_name }}_project" state=directory

- name: synchronize project directory
  remote_user: "{{ host_build_user }}"
  synchronize: src="../../../{{ dockerfile_dir }}/"
      dest="/home/{{ host_build_user }}/{{ image_file_name }}_project/" owner=no
      rsync_opts={{ extra_rsync_opts }}
  register: sync_project

- name: build docker image if sync changed anything
  remote_user: root
  docker_image: name={{ image_name }} tag={{ image_tag }}
      path="/home/{{ host_build_user }}/{{ image_file_name }}_project" state=build
  when: sync_project.changed

- name: save docker image to archive file if we built a new image
  remote_user: root
  shell: docker save {{ image_name }} | gzip > /home/{{ host_build_user }}/{{ image_file_name }}.tar.gz
  when: sync_project.changed

- name: remove the image from the docker host if we just built it
  remote_user: root
  docker_image: name={{ image_name }} tag={{ image_tag }} state=absent
  when: sync_project.changed and remove_image_from_host

- name: download image archive if we made a new one
  remote_user: "{{ host_build_user }}"
  synchronize: mode=pull src=/home/{{ host_build_user }}/{{ image_file_name }}.tar.gz
      dest={{ image_storage_dir }}/
      owner=no 
  when: sync_project.changed

- name: delete image archive if we made a new one
  remote_user: root
  file: path=/home/{{ host_build_user }}/{{ image_file_name }}.tar.gz state=absent
  when: sync_project.changed and remove_image_from_host
